body {
    background-color: #2d2c2e;
    font-family: Arial, sans-serif;
}

.profile {
    width: 800px;
    height: 650px;
    background: rgb(58, 60, 63);
    margin: 40px auto;
    padding: 20px;
    text-align: center;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
}

.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.username {
    margin: 10px 0;
    color:rgb(248, 243, 244)
}

.stats {
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
    color:aliceblue
}

.stats div {
    font-size: 14px;
}

.bio {
    font-size: 14px;
    margin-bottom: 15px;
    color:rgb(250, 250, 250)
}

.follow-btn {
    background-color: #0095f6;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 6px;
    cursor: pointer;
}

.follow-btn:hover {
    background-color: #0077cc;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px;                             
    width: 600px;                           
    margin: 0 auto; }                       


.gallery img {
    width: 100%;      
    height: auto;     
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);}
p{
    color: white;
}