
body {
    background-color: #f4f6f2;
    font-family: Arial, sans-serif;
    padding: 20px;
}

/* Heading styles */
h1 {
    color: #3216167c;
    font-size: 36px;
}

h2 {
    color: #121046;
}

#main-title {
    text-align: center;
}


.avatar {
    width: 150px;
    border-radius: 100%;
    display: block;
    margin: 12px auto;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
}

#skills {
    margin-left: 20px;
}

.hobbies {
    list-style-type: square;
}


table {
    border-collapse: collapse;
    width: 60%;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #89bbf5;
}

input, textarea {
    width: 250px;
}
